.chess-wrapper {
    display: inline-grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    padding: 1px;
    border: 5px solid #ff4c4c;
}

.black {
    background-color: rgb(255, 222, 104);
}

.white {
    background-color: #fff;
}

.figure {
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 5px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}
