/* resetting default margings & padding for the whole page */
* {
    margin: 0;
    padding: 0;
}

/*@media only screen and (min-width: 1400px){ */
header {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 100px;
}

.navigation {
    width: 898px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-button {
    padding: 15px 30px;
    color: #414840;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* TODO add hover effect as on MEMBERSHIP button. Add color inversion between green & white while clicking */
.navigation-button:hover {
    background-color: #e7e7e7;
    border: 1px solid #414840;
}

.button-border {
    border: 1px solid #414840;
}
