/* resetting default margings & padding for the whole page */
* {
    margin: 0;
    padding: 0;
}

/*@media only screen and (min-width: 1400px){ */
/* header */
header {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    color: inherit;
    text-decoration: none;
}
.logo {
    margin-left: 100px;
}

.navigation {
    width: 898px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-button {
    padding: 15px 30px;
    color: #414840;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* TODO add hover effect as on MEMBERSHIP button. Add color inversion between green & white while clicking */
.navigation-button:hover {
    background-color: #414840;
    color: aliceblue;
    border: 1px solid #414840;
}
.section1-button1:hover {
    background-color: aliceblue;
    color: #414840;
    border: 1px solid #414840;
}
.section1-button2:hover {
    background-color: #414840;
    color: aliceblue;
    border: 1px solid #414840;
}
.section2-button1:hover {
    background-color: aliceblue;
    color: #414840;
    border: 1px solid #414840;
}

.button-border {
    border: 1px solid #414840;
}

/* section 1 */
.section1 {
    display: flex;
    padding: 56px 100px 115px 100px;
    justify-content: space-between;
    align-items: center;
}
.section1-content-wrapper {
    width: 528px;
}
.section1-title {
    color: #414840;
    font-size: 57px;
    font-weight: 500;
    font-family: Baskerville, "Baskerville Old Face", "Times New Roman", serif;
    line-height: normal;
}
.section1-text {
    color: #414840;
    font-size: 25px;
    font-weight: 100;
    line-height: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 15px 0px 32px 0px;
}
.section1-button1 {
    color: white;
    background-color: #414840;
    border: none;
    /* height: 56px;
    width: 185px; */
    padding: 20px 40px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
}
.section1-button2 {
    color: #414840;
    background-color: white;
    border: 1px solid #414840;
    padding: 20px 40px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
.section1-image-wraper {
    height: 660;
    width: 478;
}
.section2 {
    background-color: #414840;
    padding: 96px 180px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.section2-content-wrapper {
    margin-left: 90px;
    z-index: 1;
}
.top-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section2-text {
    color: white;
    font-size: 20px;
    font-weight: 150;
    line-height: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin-top: 16px;
    margin-bottom: 32px;
}
.section2-title {
    color: white;
    font-size: 45px;
    font-weight: 500;
    font-family: Baskerville, "Baskerville Old Face", "Times New Roman", serif;
    line-height: normal;
}
.image1 {
    width: 534px;
    height: 354px;
}

.image2 {
    width: 1040px;
    height: 409px;
    margin-top: 80px;
    z-index: 1;
}
.branch {
    width: 534px;
    height: 462px;
    position: absolute;
    right: 0;
    bottom: 248px;
}
.section2-button1 {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding: 20px 60px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
}
.section3 {
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.post-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #414840;
    margin-top: -32px;
}
.link-decorator {
    width: 131px;
    border: 1px solid #414840;
    margin-right: 20px;
}
.link-button-image {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
.section3-content-wrapper {
    display: flex;
}
.section3-2post-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.section3-title-wrapper {
    margin-bottom: 48px;
}
.branch2 {
    width: 277px;
    height: 480px;
    position: absolute;
    display: flex;
    left: 900px;
    rotate: 64deg;
    top: 1783px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.section3-title {
    color: #414840;
    font-size: 45px;
    font-weight: 500;
    font-family: Baskerville, "Baskerville Old Face", "Times New Roman", serif;
    line-height: normal;
}
.section3-header {
    font-family: Baskerville, "Baskerville Old Face", "Times New Roman", serif;
    font-size: 23px;
    color: #475f45;
    font-weight: lighter;
}
.section3-paragraph {
    font-size: 16px;
    margin: 12px 0px;
}
.section3-2paragraph {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin: 12px 0px;
}
.post1 {
    margin-left: 32px;
    margin-top: 32px;
    width: 477px;
}
.post {
    display: flex;
    justify-content: space-between;
}
.section3-paragraph-wrapper {
    padding: 15px 20px;
}
footer {
    background-color: #414840;
    display: flex;
    flex-direction: column;
}
.footer-logo {
    filter: brightness(0) invert(1);
}
.footer-paragraph {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 16px;
    color: white;
    width: 269px;
    margin-top: 20px;
}
.footer-navigation {
    width: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.navigation-links {
    margin-bottom: 10px;
}
.footer-links {
    width: 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-links-images {
    width: 24px;
    height: 24px;
}
.footer-links-title {
    font-weight: lighter;
}
.footer-socials-title {
    font-weight: lighter;
}
.footer-copyright {
    background-color: #343d33;
    padding: 30px 0;
    text-align: center;
    color: white;
    font-size: 14px;
}
.footer-divider {
    color: white;
}
.footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: white;
}
