main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    /* height: 430px;
    width: 430px; */
    background-color: #a2a2a2;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 5px;
    display: inline-block;
}
.numbers-wrapper {
    /* width: 430px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}
.calc-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(114, 138, 110);
    border-color: #000000;
    box-shadow: inset 0 0 10px #000000;
    color: #000000;
    border-radius: 5px;
}
.calc-input::placeholder {
    color: black;
}
.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 280px;
    width: 240px;
}
button {
    border-radius: 5px;
}
