.body{
    background-color: rgb(95, 255, 95);
    margin: auto;
    display: flex;
    height: 100vh;
}
.form-wrapper{
    height: 550px;
    width: 550px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    height: 50px;
    width: 200px;
    
}
.button{
    background-color: green;
    color: white;
    border: green;
    padding: 10px 20px;
    width: 208px;
}
.span{
  color: grey;
}
.link{
 color: green;
  text-decoration: none;
}
