*{
    padding: 0;
    margin: 0;
    
}

main{
    background-color: #f4f4f4;
    width: 100wh;
    height: 100vh;
}
.oferta{
    width: 350px;
    padding: 20px;
    margin: auto;
    background-color: white;
}
.buttons